<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adult Library</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    </div>
</nav>
<div class="container">
    <div class="row">
        <div th:each="jav:${javs}" class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <div class="thumbnail">
                <a th:href="@{'details/' + ${jav.id}}" class="thumbnail">
                    <img th:src="@{${jav.localSmallCover}}">
                </a>
                <div class="caption">
                    <h4 th:text=${jav.number}></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
    var html = '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">\n' +
        '            <div class="thumbnail">\n' +
        '                <a href="details/ID" class="thumbnail">\n' +
        '                    <img src="SMALL_COVER">\n' +
        '                </a>\n' +
        '                <div class="caption">\n' +
        '                    <h4>NUMBER</h4>\n' +
        '                </div>\n' +
        '            </div>\n' +
        '        </div>'
    var index = 1;
    $(window).on("scroll", function () {
        if (toBottom()) {
            index++
            $.getJSON('/page', {index: index}, function (result) {
                result.content.forEach(function (e) {
                    $('.row').append(html.replace('SMALL_COVER', e['localSmallCover']).replace('NUMBER', e['number']).replace('ID', e['id']))
                })
            })
        }
    });

    function toBottom() {
        var scrollTop = $(window).scrollTop();
        var clientHeight = $(window).height();
        var offsetTop = $(".col-lg-2:last").offset().top;
        console.log(scrollTop + "..." + clientHeight + "..." + offsetTop);
        if (scrollTop + clientHeight > offsetTop) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>